<section class="section featured-projects">
  <div class="section__title">Featured Projects</div>
  <div class="section__content">
    <div class="MND Data Management">
      <figure class="MND Data Management">
        <a href="https://github.com/AfredTX/MND_Data_Management" target="_blank">
          <div class="phone">
            <iframe src="https://drive.google.com/file/d/1-m6np3JiOqMuRVw8QTPlJIAoUVppuaU-/preview" width="320" height="240"></iframe>
          </div>
        </a>
      </figure>
      <figcaption class="project__caption">
        <div class="project__name">
          <a href="https://github.com/AfredTX/MND_Data_Management" target="_blank">MND Data Management</a>
        </div>
        <p></p>
      </figcaption>
    </div>
    <div class="March Madness Bracket Assistant">
      <figure class="March Madness Bracket Assistant">
        <a href="https://github.com/AfredTX/MarchMadnessBracketAssistant" target="_blank">
          <div class="phone">
            <iframe src="https://drive.google.com/file/d/1EjbCTCMEJjwPgFut0U6wGvq7u4P_yCcZ/preview" width="320" height="240"></iframe>
          </div>
        </a>
      </figure>
      <figcaption class="project__caption">
        <div class="project__name">
          <a href="https://github.com/AfredTX/MarchMadnessBracketAssistant" target="_blank">March Madness Bracket Assistant</a>
        </div>
        <p></p>
      </figcaption>
    </div>

    <div class="MANO Presentation">
      <figure class="MANO Presentation">
        <a href="https://www.youtube.com/watch?v=RW203BXvR0Q" target="_blank">
          <div class="phone">
            <iframe src="https://drive.google.com/file/d/1e1B17gJIdwx_XxJFceBc22l2joZJmfQm/view?usp=share_link" width="320" height="240"></iframe>
          </div>
        </a>
      </figure>
      <figcaption class="project__caption">
        <div class="project__name">
          <a href="https://www.youtube.com/watch?v=RW203BXvR0Q">Developing Data Health & Maturity With Open-Source Technologies</a>
        </div>
        <p></p>
      </figcaption>
    </div>
</section>
